body {
  font-family: Arial, sans-serif;
  margin: 100px;
}

.pause {
  color: red;
}

.sprechstunde {
  background-color: #fff9c4;
}

.essenszeit {
  color: green;
}

.stretching { 
  color: #00796b; 
}

.unterstrichen { 
  text-decoration: underline; 
}

.grau {
  background-color: #f5f5f5; 
}

caption {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 60px;
  text-align: left;
}

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 60px;
  margin: 150px 0 50px;
}

p { font-size: 52px; }

.day-section {
  border: 12px solid #ccc;
  margin-bottom: 60px;
  border-radius: 12px;
  overflow: hidden;
  max-width: 52vh;
}

.day-header {
  background-color: #f0f0f0;
  font-size: 60px;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  user-select: none;
}

.day-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 12px;
  background-color: #fff;
}

.day-content.open {
  padding: 12px;
  max-height: 60vh;
  max-width: 36vh;
  overflow-y: auto;
}

label { font-size: 60px; }

.form-control {
  font-size: 40px;
  padding: 16px;
  margin: 12px;
  width: auto;
  border: 8px solid #ccc;
}

.form-button {
  font-size: 36px;
  padding: 12px;
  border-radius: 8px;
  border: 8px solid #ccc;
  position: relative;
  left: 67%;
}

.pause { 
  color: red; 
}

.sprechstunde { 
  background-color: #fff9c4; 
}

.essenszeit { 
  color: green; 
}

.stretching {
  color: #00796b; 
}

.unterstrichen { 
  text-decoration: underline; 
}

.grau { 
  background-color: #f5f5f5; 
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 140px;
  border-right: 4px solid #ccc;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar a {
  padding: 32px;
  margin: 32px;
  text-decoration: none;
  font-size: 40px;
  color: #333;
  display: block;
  transition: 0.2s;
  border-bottom: 1px solid #eee;
}

.sidebar a:hover {
  background-color: #f0f0f0;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 88px;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 80px;
  cursor: pointer;
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 1100;
  user-select: none;
}

footer {
  text-align: center;
  margin: 150px 0 100px;
}
